*{
    margin: 0%;
    padding: o;
}

header{
    background-color: black;
:root{
  --text-color: #ffffff;
  --card-front-clor: #09683D;
  --card-back-color: #15AE68;
}
body{

    font-family: Tomorrow;
}
  .cartao_conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
  }
}